@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <form method="post" enctype="multipart/form-data">
        <div>
            <label>Subir fichero a Azure</label>
            <input type="file" name="fichero" size="50" />
        </div>
        <div>
            <button type="submit" name="accion" value="subir">Subir</button>
        </div>
        <div>
            <button type="submit" name="accion" value="listar">Listar</button>
        </div>

    </form>
</div>
@Html.ActionLink("Ver pelis", "Pelis", "Home")

@if (ViewBag.listado != null)
{
    foreach (var item in ViewBag.listado as List<String>)
    {
        <h4>@item</h4>
    }
}